* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root,
.books_list__node {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
    font-weight: 400;
}

#root {
    background: #71c9f8;
	font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

.books_list,
.books_preview {
    min-height: 100vh;
    padding: 10px;
    margin: 0 auto;
}

.books_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis:35%;
    background: #71c9f8;
}

.books_list ~ .books_list__node {
    border-radius: 5px;
    padding: 5px;
}

.books_preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis:65%;
    background: white;
    padding: 0 10%;
}

.books_list__node {
    min-height: 40px;
    border-radius: 20px;
    color: white;
    background: #1dabdd;
    border: 1.5px solid #1dabdd;
    padding: 2px;
    margin: 5px;
}

.books_list__node:hover {
    color: #1dabdd;
    background: white;
    border: 1.5px solid white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.books_list__node_title {
    padding-left: 10px;
}

.books_list__node_button {
    border: 1.5px solid #1dabdd;
    background-color: white;
    color: #1dabdd;
    border-radius: 20px;
    height: 40px;
    width: 55px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttonAdd {
    border: 1.5px solid #1dabdd;
    background-color: white;
    color: #1dabdd;
    margin: 5px;
    border-radius: 20px;
    min-height: 46px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttonAdd:hover,
.books_list__node_button:hover {
    border: 1.5px solid white;
    background-color: #1dabdd;
    color: white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}

.book_preview__node_edit {
   display: flex;
   flex-direction: column;
   align-content: center;
}

textarea {
    min-height: 150px;     
    border: 1.5px solid transparent;
    border-bottom: 1.5px solid #1dabdd;
    margin-bottom: 5px;
    padding: 3px;
    background-color: hsla(195, 84%, 90%, 0.3);
}

.book_preview__node_title::first-letter {
    color: #1dabdd;
    font-size: 40px;
}

.book_preview__node_image {
    position: relative;
    z-index: 2;
    float: right;
    width: 300px;
    padding-left: 10px;
}

.book_preview__node {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px;
}


.book_preview__node_author {
    padding: 5px 0 20px 0;
    font-style: italic;
    font-weight: 300;
}

.book_preview__node_plot {
    font-size: 1.4em;
    font-family:Open Sans;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #1dabdd ;
    line-height:1.6;
    position: relative;
  }
  
  .book_preview__node_plot::before{
    font-family:Arial;
    content: "\201C";
    color:#1dabdd;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
  
  .book_preview__node_plot::after{
    content: '';
  }

  input {
    padding: 3px;
    min-height: 40px;
    border: 1.5px solid transparent;
    border-bottom: 1.5px solid #1dabdd;
    margin-bottom: 5px;
    background-color: hsla(195, 84%, 90%, 0.3);
  }

  label {
    border: 1.5px solid transparent;
    border-top: 1.5px solid #1dabdd;
    color: #1dabdd;

  }

  .button_cancel,
  .button_save {
    border: 1.5px solid #1dabdd;
    background-color: white;
    color: #1dabdd;
    border-radius: 20px;
    min-height: 46px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button_cancel:hover,
.button_save:hover {
    border: 1.5px solid #1dabdd;
    background-color: #1dabdd;
    color: white;
    border-radius: 20px;
    min-height: 46px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
